name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.19.0' # Adjust as needed

    - name: Install dependencies
      run: flutter pub get

    - name: Run analysis
      run: flutter analyze

    - name: Run tests
      run: flutter test
